body {
  background-color:grey;
  
  
}




.logo {
  color:grey;
  text-align: left;
  font-family: Monospace;
  background-color:black;
  padding-left:4vh;
  font-size: 3vh;
}




.log {
  height: 6vh;
  width: 100%;
  align-content: left;
  border-right:2vw;
  
  
}