body {
  background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('/Back3.jpg');
  background-position: center ;
  background-size:cover ;
  height:100vh;
}

.navbar:hover{
  
  border-radius: 30px;
background: linear-gradient(315deg, #999999, #818181);
box-shadow:  -15px -15px 31px #646464,
             15px 15px 31px #bababa;
  
  transition-duration:4s;
  height:8vh;
  display: flex;
  align-items: center;
}

.navbar{
  transition-duration:4s;
  height:8vh;
  display: flex;
  align-items: center;
  transition-duration: 4s;
}

.logo {
  width:7vh;
  height:7vh;
  border-radius: 3vh;
  transition-duration:2s;
}

.logo:hover {
  
  width:8vh;
  height:9vh;
  border-radius: 5vh;
  transition-duration: 2s;
}



nav {
  width:100%;
  padding-left:2vh;
  padding-right:3vh;
  flex: 1;
  text-align: right;
  
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 2%;
  
}

nav ul li a img {
  height: 3vh;
  width: 3vh;
  font-size: 3vh;
  text-decoration: none;
  color:white;
  z-index: 3vh;
  transition-duration:4s;
   border-radius: 2vw;
background: linear-gradient(315deg, #999999, #818181);
box-shadow:  -5vw -5vw 10vw #fff,
             5vw 5vw 10vw #000;
  
}
nav ul li a img :hover {
  height: 3vh;
  width: 3vh;
  font-size: 3vh;
  text-decoration: none;
  color:white;
  border-radius: 41px;
background: linear-gradient(315deg, magenta , cyan);
box-shadow:  -5vw -5vw 10vw #fff,
             5vw 5vw 10vw #000;
  transition-duration:4s;
}

.footer {
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
  color:white;
  margin-top: 80vh;
  
}